a,a:hover{text-decoration:none;}
li{list-style: none;}
body.login #login .form-signin {max-width: 400px;}
/*header*/
body > .container-fluid{padding-top:44px;padding-bottom:41px}
.navbar.main .topnav > li > a.glyphicons.logout {padding:0 28px 0 0}
.navbar.main{position: fixed;top: 0;left: 0;height: 45px;z-index: 1;width: 100%;}
.navbar.main .topnav > li.open > a{background:#fff;color:#7C7C7C;height:41px}
.navbar.main .topnav > li.open > a i:before{color:#7C7C7C}
.navbar.main .topnav > li.open .dropdown-menu{background:#fff;box-shadow:1px 2px 2px -1px rgba(0, 0, 0, 0.1);top:41px;width: 187px;}
.navbar.main .topnav > li.open .dropdown-menu li > span{background:#36ad36}
.navbar.main .topnav > li.open .dropdown-menu.pull-left .submenu-show{top:30px}
.navbar.main .topnav > li.open .dropdown-menu li{border-bottom:1px solid #f3f3f3;}
.navbar.main .topnav > li.open .dropdown-menu li > a{color:#7C7C7C;background:transparent;padding:5px 15px}
.navbar.main .topnav > li.open .dropdown-menu li:hover > a{padding:5px 15px;background:#fff;}
.navbar.main .topnav > li.open .dropdown-menu .dropdown-menu{top:29px;border-radius:0px;}


/*table*/
.table thead tr:first-child{background-color: #36ad36;color:#fff;}
.table thead tr:first-child a{color:#fff;}
.table thead tr .caret{vertical-align: middle;margin-left: 5px;border-top-color:#fff;}
.table .checkbox-column input{margin:0;}
.table .filter-container input{margin:0}
#content{min-height:0;overflow:auto;}
#content.wide{margin-left:0;}
/*sidebar menu*/
#menu{overflow:visible}
#menu > .slim-scroll > ul{background: none;width: 100%;padding: 0 0;margin: 0;}
#menu > .slim-scroll > ul .glyphicons{display:block;margin: 0 15px;position:relative;margin-bottom:5px;overflow:visible}
#menu > .slim-scroll > ul li.glyphicons > a{background: none;border: none;box-shadow: none;color: #7C7C7C;display: block;height: auto;line-height: normal;padding: 10px 25px 7px 45px;}
#menu > .slim-scroll > ul .glyphicons > a .icon-chevron-right{}
#menu > .slim-scroll > ul .glyphicons > a:hover,
#menu > .slim-scroll > ul .glyphicons.active > a{
	background: rgba(0,0,0,0.5);	
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid rgba(0,0,0,0.5);	
	box-shadow:0 -1px 5px rgba(0,0,0,0.3) inset;
	color:#fff;
}
#menu > .slim-scroll > ul .glyphicons > a > i:before{font-size: 16px;color: #7C7C7C;top: 10px;left:5px}
#menu > .slim-scroll > ul .glyphicons > a:hover > i:before,
#menu > .slim-scroll > ul .glyphicons.active > a > i:before{color:#fff;}
#menu > .slim-scroll > ul .dropdown-menu{
	position: absolute;
	left: 188px;
	z-index: 9;
	background: #fff;
	width: 182px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	height: auto;
	top: 1px;
	overflow: visible;	
	display:none;
	border-radius:0
	
}
#menu > .slim-scroll .dropdown-menu.open{display:block}
#menu > .slim-scroll .dropdown-menu a{box-shadow:none;display:block}
#menu > .slim-scroll .dropdown-menu a:hover{color:#000;background:transparent}
#menu > .slim-scroll .dropdown-menu li a{padding-left:20px;border-radius:0;display:block;color:#939494;padding:5px 20px;border-bottom:1px solid rgba(0,0,0,.1)}
#menu > .slim-scroll .dropdown-menu li.divider{height:0;margin:0;padding:0;display:block;border-top:#939494}
#menu > .slim-scroll .dropdown-menu:before{
	content: "";
	width:0;
	height:0;
	border:7px solid transparent;
	border-right-color:#fff;
	position:absolute;
	left:-13px;
	top:5px;
}

/*footer*/
#footer{padding:0;position:fixed;height:41px;bottom:0;left:0;width:100%;margin-bottom:0;}
#footer .navbar-inner.wide{margin-left:0}
#footer .navbar-inner{padding:0;border:0;background: rgba(43, 45, 48, 0.95);overflow: hidden;height: 40px;margin-left: 204px;}
#footer .glyphicons{color:#fff;vertical-align:middle;float: left;height: 40px;width: 50px;padding: 0;text-align: center;line-height: 40px;position: relative;}
#footer .glyphicons i:before{color:#aaa;left: 25%;top: 25%;font-size:20px;-webkit-transition:color 0.2s;transition:color 0.2s;-moz-transition:color 0.2s}
#footer .glyphicons:hover i:before{color:#fff}
#footer .nav li{float:left;height: 40px;border-right: 1px solid rgba(0,0,0,0.5);border-left: 1px solid rgba(255,255,255,0.1);}
#footer .nav li:first-child{border-left:0;}
#footer .nav li:last-child{border-right:0;}
#footer .info-pane{line-height: 40px;padding: 0 10px;border-left:0;}

